<div class="col-md-9">

  <div class="createpost">
		<%= render "posts/form" %>
	</div>
  <div class="allpost">
		<%= render "posts/index" %>
	</div>

</div>

<div class="col-md-3 col-md-push-1">  
  <%= render "relationships/index" %>
  <%#= will_paginate @users %>
</div>