<div class="container">
  <div class="jumbotron">
    <h1> Welcome To Twitter </h1>      
      Please Login to Continue.... 
			<%= link_to 'Login', user_session_path, :class => "btn btn-info btn-sm"  %>
	</div>
</div>


